<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} -df
  RewriteCond %{REQUEST_FILENAME} -dd
  RewriteCond %{REQUEST_FILENAME} -dl
  RewriteRule . /index.html [L]

</IfModule>
