.navbar {
  display: flex;
  padding: $global-padding / 2 $global-padding;
  height: 46px;
  align-items: center;
  justify-content: space-between;

  &__group {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 40px;
    text-decoration: none;
    font-weight: $fw-black;
    color: $midnight-blue;
  }

  &__search-form {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__search-input {
    height: 30px;
    width: 120px;
    font-size: 16px;
    margin: 0 $global-margin;

    @include breakpoint(medium) {
      width: 200px;
    }
    @include breakpoint(large up) {
      width: 400px;
    }
  }

  &__search-submit {
    margin: 0 $global-margin;
  }

  &--mobile {
    @include breakpoint(large up) {
      display: none;
    }
  }

  &--desktop {
    @include breakpoint(medium down) {
      display: none;
    }
  }
}
