.teams-list {
  margin-bottom: $global-margin;

  &__team {
    font-size: 18px;
    font-weight: $fw-semi-bold;
    margin-bottom: $global-margin;
  }
}

.team {
  &__title {
    font-size: 36px;
    font-weight: $fw-black;
  }

  &__action {
    cursor: pointer;

    &--icon {
      font-size: 24px;
      margin-left: $global-margin / 2;
    }
  }
}

.team-field {
  height: 400px;
  width: 400px;
  position: relative;

  &__player {
    position: absolute;

    &--pitcher {
      bottom: 25%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &--catcher {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &--first-base {
      bottom: 25%;
      left: 80%;
      transform: translate(-50%, 0);
    }

    &--second-base {
      bottom: 45%;
      left: 65%;
      transform: translate(-50%, 0);
    }

    &--third-base {
      bottom: 25%;
      left: 20%;
      transform: translate(-50%, 0);
    }

    &--short-stop {
      bottom: 45%;
      left: 35%;
      transform: translate(-50%, 0);
    }

    &--left-fielder {
      bottom: 70%;
      left: 15%;
      transform: translate(-50%, 0);
    }

    &--center-fielder {
      bottom: 90%;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &--right-fielder {
      bottom: 70%;
      left: 85%;
      transform: translate(-50%, 0);
    }
  }
}
